.admin-panel {
    align-items: start;
    margin-top: 20px;
    gap: 20px;
}
.main-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 60px;
    padding-bottom: 40px;
}

.hide {
    display: none;
}
.show {
    display: block;
}
.hide-scroll-up {
    position: absolute;
    opacity: 0;
    right: -50px;
    visibility: hidden;
    transition: 0.5s all;
}
.show-scroll-up {
    opacity: 1;
    visibility: visible;
    transition: 0.5s all;
}

.main {
    background: linear-gradient(217deg, #8ba8ae, #b8dfe7 70.71%);
    .login-wrapper {
        height: calc(100vh - 210px);
    }
}

.main-dark {
    background: linear-gradient(180deg, #1f1f1f, #2c2c2c 70.71%);
    .login {
        background-color: #424242;
        border-color: #6b6b6b;
        color: white;
        .grid-wrapper {
            .login-input,
            .password-input {
                background-color: #424242;
                border-color: #6b6b6b;
                color: white;
            }
            .show-password-btn {
                background-image: url(../../assets/show-password.svg);
            }
            .show-password-btn.text {
                background-image: url(../../assets/hide-password.svg);
            }
            .login-input:-webkit-autofill,
            .login-input:-webkit-autofill:focus,
            .password-input:-webkit-autofill,
            .password-input:-webkit-autofill:focus {
                transition: background-color 600000s 0s, color 600000s 0s;
            }
            .aws-btn--primary {
                .aws-btn__content {
                    background: #8ba8ae;
                }
                .aws-btn__wrapper:before {
                    background: #627b7f;
                }
            }
        }
    }
    .slider-item {
        .slider-content {
            background: #424242c5;
        }
    }
    .project-form {
        background-color: #424242;
        border-color: #6b6b6b;
        color: white;
        form {
            input {
                color: white;
            }
        }
        .aws-btn--primary {
            .aws-btn__content {
                background: #8ba8ae;
            }
            .aws-btn__wrapper:before {
                background: #627b7f;
            }
        }
    }
    .search-and-filter {
        .search {
            background-color: #424242;
            border-color: #6b6b6b;
            color: white;
            .search-and-btn {
                border-color: #6b6b6b;
                > button {
                    background-image: url(../../assets/close-img-white.svg);
                }
            }
            .search-input {
                background-color: transparent;
                color: white;
            }
            .search-input::placeholder {
                color: white;
            }
        }
        .filter {
            background-color: #424242;
            border-color: #6b6b6b;
            color: white;
            .filter-section-header,
            .is-actual-label {
                color: white;
            }
            .filter-country,
            .filter-sex,
            .filter-nationality,
            .filter-is-actual,
            .filter-sorting,
            .filter-partner {
                border-bottom: 1px solid rgb(255, 255, 255);
            }
            .filter-arrow-btn {
                background-image: url(../../assets/filter-arrow-down-white.svg);
            }
            .filter-age {
                input {
                    background-color: #424242;
                    border-color: #6b6b6b;
                    color: white;
                }
            }
            .filter-buttons {
                > button {
                    &:hover {
                        color: #fff;
                        background-color: #414141;
                        border-color: white;
                        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
                        transform: translateY(-2px);
                    }
                    &:active {
                        box-shadow: none;
                        transform: translateY(0);
                    }
                }
                .aws-btn--primary {
                    .aws-btn__content {
                        background: #8ba8ae;
                    }
                    .aws-btn__wrapper:before {
                        background: #627b7f;
                    }
                }
                .filter-added {
                    > button {
                        .aws-btn__wrapper:before {
                            background: rgb(145, 72, 30);
                        }
                        .aws-btn__content {
                            background: rgb(211, 104, 43);
                        }
                    }
                }
            }
        }
    }
    .no-search-results {
        background-color: #424242;
        border: 1px solid #6b6b6b;
        color: white;
    }
    .projects {
        .project-item {
            background-color: #424242;
            border-color: #6b6b6b;
            color: white;
            > a {
                color: white;
            }
            .project-location {
                > a {
                    color: rgb(132, 183, 250);
                    &:hover {
                        border-bottom: 1px solid rgb(132, 183, 250);
                    }
                }
            }
            .project-item-section {
                a {
                    color: rgb(132, 183, 250);
                }
            }
            .delite-btn {
                background-color: rgba(177, 33, 33, 0.8);
            }
            .edit-btn {
                background-color: #56696d;
            }
        }
        .project-item.not-actual {
            background-color: #44444434;
            color: rgba(255, 255, 255, 0.3);
        }
        .confirmation {
            .confirmation-content {
                background-color: #424242;
                border-color: #6b6b6b;
                color: white;
                .confirmation-row {
                    .aws-btn__content {
                        background: #8ba8ae;
                    }
                    .aws-btn__wrapper:before {
                        background: #627b7f;
                    }
                }
            }
        }
    }
    .project-page {
        background: linear-gradient(180deg, #1f1f1f, #2c2c2c 70.71%);
    }
    .project-page-item {
        background-color: #424242;
        border-color: #6b6b6b;
        color: white;
        > a {
            color: white;
        }
        .project-location {
            > a {
                color: rgb(132, 183, 250);
                &:hover {
                    border-bottom: 1px solid rgb(132, 183, 250);
                }
            }
        }
        .project-item-section {
            a {
                color: rgb(132, 183, 250);
            }
        }
        .delite-btn {
            background-color: rgba(177, 33, 33, 0.8);
        }
        .edit-btn {
            background-color: rgba(211, 104, 43, 0.8);
        }
    }
    .project-page-item.not-actual {
        background-color: #44444434;
        color: rgba(255, 255, 255, 0.3);
        .project-header {
            color: white;
        }
    }
    .project-edit-form {
        background-color: #424242;
        border-color: #6b6b6b;
        color: white;
        .project-edit-header {
            button {
                background-image: url(../../assets/close-img-white.svg);
            }
        }
        .aws-btn--primary {
            .aws-btn__content {
                background: #8ba8ae;
            }
            .aws-btn__wrapper:before {
                background: #627b7f;
            }
        }
    }
    .tablet-filter .filter-button {
        background-color: #424242;
        background-size: 75%;
    }
    .open .filter-button {
        background-image: url(../../assets/close-img-white.svg);
    }
    .slider-item {
        > img {
            filter: brightness(70%);
        }
    }
}

.hide-2 {
    position: absolute;
    opacity: 0;
    top: 0px;
    visibility: hidden;
}
.show-2 {
    opacity: 1;
    visibility: visible;
    transition: 0.5s all;
}

// Tablet
@media (max-width: 992px) {
    .admin-panel {
        flex-direction: column-reverse;
        align-items: center;
    }
    .main-content {
        .sidebar {
            display: none;
        }
    }
}

// Mobile
@media (max-width: 576px) {
    .main {
        .login-wrapper {
            height: calc(100vh - 170px);
        }
    }
}
