@import './../../../fonts';

.project-edit-form {
    background: white;
    position: fixed;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px;
    width: 50%;
    background: white;
    z-index: 10;
    @include sans400();
    overflow-y: auto;
    .project-edit-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        p{
            font-size: 32px;
        }
        button{
            width: 30px;
            height: 30px;
            border: none;
            background-image: url(../../../assets/close-img-black.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            cursor: pointer;
            transition: .3s all;
            &:hover {
                background-image: url(../../../assets/close-img-orange.png);
            }
        }
    }
    .edit-sex-and-switch {
        gap: 20px;
    }
    form{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        label{
            user-select: none;
        }
        .sex-select-edit {
            >p{
                margin-bottom: 10px;
            }
            input{
                height: 15px;
            }
            label{
                margin-right: 10px;
            }
        }
        .age-wrapper {
            gap: 10px;
        }
        .edit-project-btn {
            width: 250px;
            height: 40px;
            @include mainButton();
        }
    }
}

// Tablet
@media(max-width: 992px) {
    .project-edit-form {
        width: 80%;
        height: 90vh;
        form{
            textarea{
                height: 100px;
            }
        }
    }
}

// Mobile
@media(max-width: 576px) {
    .project-edit-form {
        width: 90%;
        padding: 20px;
        overflow-y: scroll;
        .project-edit-header{
            >p {
                font-size: 18px;
            }
            >button{
                width: 25px;
                height: 25px;
            }
        }
        .sex-select-row {
            flex-direction: column;
        }
        .edit-sex-and-switch {
            flex-direction: column;
            gap: 0;
        }
        form{
            input{
                height: 35px;
            }
            .edit-project-btn{
                width: 100%;
            }
            .sex-select-row {
                input{
                    margin-right: 10px;
                }
                font-size: 20px;
                >div{
                    margin-bottom: 10px;
                }
            }
            .sex-select-wrapper {
                flex-direction: column;
            }
        }
    }
}