@import './../../src/fonts';

.project-page-item.not-actual {
    background: #cdcdcd;
}

.project-page {
    padding: 30px 0px;
    min-height: calc(100vh - 80px - 120px);
    background: linear-gradient(217deg, #fe6e00, rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, #fd8c01, rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, #feaa02, rgba(0, 0, 255, 0) 70.71%);
}

.project-page-item {
    background-color: white;
    max-width: 100%;
    @include sans400();
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    position: relative;
    transition: 0.3s all;
    .project-item-section {
        margin-bottom: 20px;
        .synchroner-link {
            margin-bottom: 5px;
            word-break: break-all;
        }
    }
    .bold-text {
        @include sans700();
    }
    .project-header {
        @include raleway600();
        font-size: 24px;
        transition: 0.3s all;
        margin-bottom: 20px;
    }
    .is-actual-state {
        margin-bottom: 20px;
        @include sans700();
    }
    .is-actual-state.not-actual {
        color: rgb(177, 33, 33);
    }
    .project-first-descroption-row {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .project-row {
        gap: 10px;
        align-items: center;
    }
    .project-sex {
        gap: 5px;
        > div {
            color: white;
            background-color: black;
            padding: 3px 5px;
            @include sans600();
            font-size: 12px;
        }
    }
    .project-country {
        @include sans700();
        font-size: 12px;
        margin-right: 5px;
    }
    .project-location-row {
        align-items: center;
    }
    .project-location {
        > a {
            @include sans400();
            font-size: 12px;
            color: #444;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: 0.5s all;
            &:hover {
                border-bottom: 1px solid #444;
            }
        }
    }
    .project-category {
        @include sans400();
        font-size: 16px;
        background-color: #eb6a09;
        color: white;
        padding: 5px;
    }
    .project-item-btn {
        border: none;
        @include raleway600();
        padding: 6px 12px;
        background-color: black;
        color: white;
        cursor: pointer;
        margin-right: 10px;
        transition: 0.3s all;
        border-radius: 5px;
        &:hover {
            background-color: #eb6a09;
        }
    }
    .delite-btn {
        background-color: rgb(177, 33, 33);
    }
    .edit-btn {
        background-color: rgb(211, 104, 43);
    }
    .project-age-row {
        gap: 15px;
    }
    .project-info {
        line-height: 21px;
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    .textfield-content {
        line-height: 21px;
        margin-top: 5px;
        white-space: pre-line;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    .copy-btn {
        padding: 8px 12px;
    }
    &:hover .project-header {
        color: #eb6a09;
    }
}

// Mobile
@media (max-width: 576px) {
    .project-page-item {
        padding: 20px;
        .project-header {
            text-align: center;
        }
        .project-first-descroption-row {
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
        }
        .copy-btn {
            width: 100%;
        }
    }
}
