@import './../../../fonts';

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.login-header {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    @include raleway700();
}

.grid-wrapper {
    display: grid;
    grid-template-areas:
        'a b'
        'c c';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    .login-form-input {
        border: 1px solid rgba(0, 0, 0, 0.23);
        border-radius: 5px;
        height: 50px;
        width: 300px;
        padding: 0px 10px;
        @include sans400();
        font-size: 18px;
        transition: 0.3s all;
        &:focus {
            outline-color: #eb6a09;
        }
        &:focus-within {
            color: #eb6a09;
        }
    }
    .login-input {
        grid-area: a;
    }
    .password-wrapper {
        position: relative;
        width: 100%;
    }
    .password-input {
        grid-area: b;
        padding-right: 60px;
    }
    .show-password-btn {
        position: absolute;
        height: 40px;
        width: 40px;
        right: 5px;
        top: 5px;
        border: 1px solid transparent;
        border-radius: 50px;
        background-color: transparent;
        background-image: url(../../../assets/show-password.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
    .show-password-btn.text {
        background-image: url(../../../assets/hide-password.png);
    }
    .submit-button {
        grid-area: c;
        @include mainButton();
        padding-left: 50px;
        padding-right: 50px;
    }
}

// Tablet
@media (max-width: 992px) {
    .grid-wrapper {
        .login-form-input {
            width: 250px;
        }
    }
}

// Mobile
@media (max-width: 576px) {
    .login {
        width: 90%;
    }
    .grid-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'a'
            'b'
            'c';
        .login-form-input {
            width: 100%;
        }
        .submit-button {
            width: 100%;
        }
        .show-password-btn {
            &:hover {
                background-color: transparent;
            }
            &:active {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
}
