@import './../../../fonts';

.registration {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background: white;
    .registration-header{
        @include raleway700();
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }
    .registration-input {
        height: 50px;
        width: 300px;
        padding: 0 10px;
        @include sans400();
        font-size: 16px;
        border: 1px solid rgba(0, 0, 0, 0.23);
        border-radius: 5px;
        transition: .3s all;
        &:focus {
            outline-color: #EB6A09;
        }
        &:focus-within {
            color: #EB6A09;
        }
    }
    .password-wrapper {
        position: relative;
        width: 100%;
    }
    .password-input {
        padding-right: 60px;
    }
    .show-password-btn {
        position: absolute;
        height: 40px;
        width: 40px;
        right: 5px;
        top: 5px;
        border: 1px solid transparent;
        border-radius: 50px;
        background-color: transparent;
        background-image: url(../../../assets/show-password.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        cursor: pointer;
        transition: .3s all;
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
    .show-password-btn.text {
        background-image: url(../../../assets/hide-password.png);
    }
    .submit-button {
        width: auto;
    }
}

// Desctop
@media(max-width: 1500px) {
    .registration {
        .registration-input {
            width: 250px;
        }
        .show-password-btn {
            right: 30px;
        }
    }
}

// Laptop
@media(max-width: 1200px) {
    .registration {
        width: 100%;
        .registration-header {
            font-size: 26px;
        }
        .registration-input {
            width: 100%;
            font-size: 14px;
        }
        .submit-button {
            font-size: 20px;
        }
        .show-password-btn {
            right: 5px;
        }
    }
}

// Mobile
@media(max-width: 576px) {
    .registration {
        .registration-header {
            font-size: 21px;
        }
        .submit-button{
            width: 100%;
            font-size: 16px;
            height: 40px;
        }
        .show-password-btn {
            &:hover {
                background-color: transparent;
            }
            &:active {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
}