.tablet-filter {
    position: fixed;
    height: 70px;
    width: 40px;
    top: 130px;
    z-index: 1000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    transition: 0.5s all;
    display: none;
    .filter-button {
        width: 100%;
        height: 100%;
        background-color: #333d46;
        background-image: url(./../../../assets/filter-img.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%;
        border: 1px solid #8ba8ae;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: 0.5s all;
    }
    .filter-wrapper {
        position: relative;
        .filter-content {
            position: absolute;
            top: -202px;
            left: 40px;
            height: 100vh;
            border-radius: 10px;
        }
    }
    .search-and-filter {
        .search {
            .search-and-btn {
                width: 100%;
            }
        }
        .filter {
            .filter-buttons {
                width: 100%;
            }
        }
    }
    .aws-btn::before,
    .aws-btn {
        width: 100%;
    }
}

.show-filter {
    right: -2px;
    transition: 0.5s all;
}
.hide-filter {
    right: -40px;
    transition: 0.5s all;
}

.open {
    right: 80%;
    .filter-button {
        background-color: #8ba8ae;
        background-image: url(./../../../assets/close-img-white.png);
        background-size: 80%;
    }
}

// Tablet
@media (max-width: 992px) {
    .tablet-filter {
        display: block;
    }
}
