@import './../../../fonts';

.projects-content {
    width: 100%;
    margin-bottom: 50px;
}

.project-edit-bg {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.scroll-up {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: white;
    border: 1px solid #eb6a09;
    background-image: url(../../../assets/arrow-up.png);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    cursor: pointer;
    &:hover {
        background: #eb6a09;
        background-image: url(../../../assets/arrow-up-white.png);
    }
}
.projects {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    .project-item.not-actual {
        background: #cdcdcd;
    }
    .not-actual {
        .is-actual-state {
            color: rgb(177, 33, 33);
        }
    }
    .confirmation {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.315);
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        text-align: center;
        .confirmation-content {
            width: 270px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid black;
            border-radius: 10px;
            padding: 20px 40px;
            > p {
                @include sans600();
                margin-bottom: 20px;
                font-size: 21px;
            }
            .confirmation-row {
                justify-content: space-between;
                gap: 20px;
                > button {
                    @include mainButton();
                    height: 30px;
                }
            }
        }
    }
    .project-item {
        background-color: white;
        max-width: 100%;
        @include sans400();
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 10px;
        position: relative;
        transition: 0.3s all;
        .project-item-section {
            margin-bottom: 20px;
            .synchroner-link {
                margin-bottom: 5px;
                word-break: break-all;
            }
        }
        .bold-text {
            @include sans700();
        }
        > a {
            text-decoration: none;
            color: black;
        }
        .project-header {
            @include raleway600();
            font-size: 24px;
            transition: 0.3s all;
            margin-bottom: 20px;
        }
        .is-actual-state {
            margin-bottom: 20px;
            @include sans700();
        }
        .project-first-descroption-row {
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        .project-row {
            gap: 10px;
            align-items: center;
        }
        .project-sex {
            gap: 5px;
            > div {
                color: white;
                background-color: black;
                padding: 3px 5px;
                @include sans600();
                font-size: 12px;
            }
        }
        .project-country {
            @include sans700();
            font-size: 12px;
            margin-right: 5px;
        }
        .project-location-row {
            align-items: center;
        }
        .project-location {
            > a {
                @include sans400();
                font-size: 12px;
                color: #444;
                text-decoration: none;
                border-bottom: 1px solid transparent;
                transition: 0.5s all;
                &:hover {
                    border-bottom: 1px solid #444;
                }
            }
        }
        .project-category {
            @include sans400();
            font-size: 16px;
            background-color: #eb6a09;
            color: white;
            padding: 5px;
        }
        .project-item-btn {
            border: none;
            @include raleway600();
            padding: 6px 12px;
            background-color: black;
            color: white;
            cursor: pointer;
            margin-right: 10px;
            transition: 0.3s all;
            border-radius: 5px;
            &:hover {
                background-color: #eb6a09;
            }
        }
        .delite-btn {
            background-color: rgb(177, 33, 33);
        }
        .edit-btn {
            background-color: rgb(211, 104, 43);
        }
        .project-age-row {
            gap: 15px;
        }
        .project-info {
            line-height: 21px;
            word-break: break-word;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        .textfield-content {
            line-height: 21px;
            margin-top: 5px;
            white-space: pre-line;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        .copy-btn {
            padding: 8px 12px;
        }
        &:hover .project-header {
            color: #eb6a09;
        }
    }
}

.no-search-results {
    font-size: 42px;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

// Desktop
@media (max-width: 1500px) {
    .projects {
        gap: 20px;
        grid-template-columns: 1fr;
        .project-item {
            padding: 20px;
        }
    }
}

// Mobile
@media (max-width: 576px) {
    .projects {
        .project-item {
            .project-first-descroption-row {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                .project-row {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
            .project-item-buttons {
                flex-wrap: wrap;
                gap: 10px;
            }
        }
    }
    .scroll-up {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: white;
        border: 1px solid #eb6a09;
        background-image: url(../../../assets/arrow-up.png);
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 100;
        cursor: pointer;
        &:hover {
            background: #ffffff;
            background-image: url(../../../assets/arrow-up.png);
        }
        &:active {
            background: #eb6a09;
            background-image: url(../../../assets/arrow-up-white.png);
        }
    }
}
