@import './../../fonts';

.header {
    min-height: 100px;
    .upper-line {
        background-color: #333d46;
        .switcher-item {
            justify-content: flex-end;
            align-items: center;
            .white-theme-img {
                background-image: url(../../assets/white-theme-img.svg);
                background-position: center;
                background-repeat: no-repeat;
                height: 40px;
                width: 35px;
            }
            .dark-theme-img {
                background-image: url(../../assets/dark-theme-img.svg);
                background-position: center;
                background-repeat: no-repeat;
                height: 40px;
                width: 35px;
            }
        }
    }
    .label {
        justify-content: flex-end;
        > span:nth-child(2) {
            background-image: url(../../assets/dark-theme-img.svg);
            background-position: center;
            background-repeat: no-repeat;
            height: 50px;
            width: 35px;
        }
    }
    .header-wrapper {
        background-color: #8ba8ae;
    }
    .header-content {
        min-height: 70px;
        align-items: center;
        justify-content: space-between;
        .header-logo-wrapper {
            background-color: #8ba8ae;
            height: 100%;
        }
        .header-logo {
            background-image: url(../../assets/footer-logo.png);
            background-size: contain;
            background-position: center;
            background-size: 46%;
            background-repeat: no-repeat;
            width: 200px;
            height: 70px;
        }
        .user-name-and-btn {
            gap: 20px;
            align-items: center;
            @include raleway700();
            .logout-btn {
                @include mainButton();
            }
        }
    }
    .logout-header-content {
        display: grid;
        justify-content: center;
        padding: 10px 0px;
    }
}

.header-dark {
    background-color: #424242;
    color: white;
    .upper-line {
        background: linear-gradient(180deg, #1f1f1f, #2c2c2c 70.71%);
    }
    .header-wrapper {
        background-color: #4d5d60;
    }
    .label {
        > span:nth-child(2) {
            background-image: url(../../assets/white-theme-img.svg);
        }
    }
    .header-content {
        .header-logo {
            background-image: url(../../assets/logo-dark.svg);
            background-color: #4d5d60;
        }
        .user-name-and-btn {
            .aws-btn--primary {
                .aws-btn__content {
                    background: #8ba8ae;
                }
                .aws-btn__wrapper:before {
                    background: #627b7f;
                }
            }
        }
    }
}

// Tablet
@media (max-width: 992px) {
    .header {
        .header-content {
            .user-name-and-btn {
                .header-user {
                    font-size: 14px;
                    text-align: right;
                }
            }
        }
    }
}

// Mobile
@media (max-width: 576px) {
    .header {
        .header-content {
            .header-logo {
                height: 50px;
                background-size: contain;
            }
            .user-name-and-btn {
                flex-direction: column;
                align-items: flex-end;
                gap: 7px;
                padding: 5px 0px;
                .logout-btn {
                    padding: 5px 10px;
                    height: 30px;
                    font-size: 14px;
                }
            }
        }
        .aws-btn {
            height: 34px;
        }
    }
}
