@import './../../../fonts';

.project-form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    background: white;
    @include sans400;
    >p{
        @include raleway700();
        font-size: 32px;
        margin-bottom: 20px;
    }
    form{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        label{
            user-select: none;
        }
        input{
            @include sans400();
        }
        .add-project-btn {
            width: 220px;
            @include mainButton();
        }
        .form-item-row {
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;
            .form-item-input {
                width: 50%;
            }
        }
    }
    .sex-and-switch {
        justify-content: space-between;
    }
}

// Laptop
@media(max-width: 1200px) {
    .project-form {
        width: 100%;
    }
    form{
        .sex-select-wrapper {
            flex-direction: column;
        }
    }
}

// Tablet
@media(max-width: 992px) {
    .project-form{
        .add-project-header {
            font-size: 26px;
        }
        form{
            .age-row {
                gap: 10px;
                >input{
                    width: 100%;
                }
            }
        }
    }
}  

// Mobile
@media(max-width: 576px) {
    .project-form {
        padding: 20px;
        .add-project-header {
            font-size: 21px;
        }
        form{
            .sex-select-wrapper {
                flex-direction: column;
            }
            .sex-and-switch {
                flex-direction: column;
            }
            .form-item-row {
                flex-direction: column;
                gap: 10px;
                .form-item-input {
                    width: 100%;
                }
            }
            .add-project-btn{
                width: 100%;
                font-size: 16px;
                height: 40px;
            }
        }
    }
}